@using DemensDel2.Models.DTO
@using Microsoft.AspNetCore.Rewrite.Internal
@model UserWithTrainingSessionDTO
@{
    ViewData["Title"] = "User";
}

<div class="UserInfo">
    <dl class="dl-horizontal">
        <dt>
            Navn
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Name)
        </dd>
        <dt>
            Alder
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Age)
        </dd>
        <dt>
            Tlf
        </dt>
        <dd>
            @Html.DisplayFor(m => m.TelephoneNumber)
        </dd>
        <dt>
            By
        </dt>
        <dd>
            @Html.DisplayFor(m => m.City)
        </dd>
        <dt>
            Postnummer
        </dt>
        <dd>
            @Html.DisplayFor(m => m.ZipCode)
        </dd>
        <dt>
            Adresse
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Address)
        </dd>
    </dl>
    <div class="ExerciseList">
        <h2>Træningssessioner</h2>
        @foreach (var item in Model.TrainingSessions)
        {
            <a href="@Url.Action("TrainingSession", "User", new { Id = item.Id })">
                @item.Date.Date.ToString("d")
            </a>
        }
    </div>
</div>

<div class="ExerciseGraph">
    <canvas id="chart" data-Exercise="1,1" data-ExerciseData="2,2"></canvas>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/Chart.js"></script>
}
